### Read all.json file

In [2]:
import pandas as pd
import json

# Parse the JSON data
data = json.loads(open('/Users/sherrypan/GitHub/QAoverSKGs/SciQA-dataset/test/questions.json').read())

# Extract the relevant fields and convert to DataFrame
records = []
for question in data['questions']:
    id = question['id']
    query_type = question['query_type']
    question_text = question['question']  
    paraphrased_question = question['paraphrased_question'] 
    query = question['query']
    template_id = question['template_id']
    auto_generated = question['auto_generated']
    query_shape = question['query_shape']
    query_class = question['query_class']
    number_of_patterns = question['number_of_patterns']
    records.append((id, query_type, question_text, paraphrased_question, query, template_id,
                     auto_generated, query_shape, query_class, number_of_patterns))

# Create DataFrame
df = pd.DataFrame(records, columns=['id', 'query_type', 'question_text', 'paraphrased_question', 'query', 'template_id', 
                                    'auto_generated', 'query_shape', 'query_class', 'number_of_patterns'])

### Filter all test questions and save it to a new csv file

In [3]:
df.head()

,id,query_type,question_text,paraphrased_question,query,template_id,auto_generated,query_shape,query_class,number_of_patterns
0,AQ1475,Factoid,{'string': 'Which model has achieved the highe...,[],{'sparql': 'SELECT DISTINCT ?model ?model_lbl ...,T05,True,Tree,WHICH-WHAT,12
1,AQ0495,Factoid,{'string': 'List the title and ID of research ...,[],{'sparql': 'SELECT DISTINCT ?paper ?paper_lbl ...,T02,True,Tree,WHICH-WHAT,5
2,AQ0176,Factoid,{'string': 'What models are being evaluated on...,[],{'sparql': 'SELECT DISTINCT ?model ?model_lbl ...,T01,True,Tree,WHICH-WHAT,6
3,AQ0392,Factoid,{'string': 'Provide a list of research paper t...,[],{'sparql': 'SELECT DISTINCT ?paper ?paper_lbl ...,T02,True,Tree,WHICH-WHAT,5
4,AQ1059,non-factoid,{'string': 'What is the top benchmark score an...,[],{'sparql': 'SELECT DISTINCT ?metric ?metric_lb...,T04,True,Tree,WHICH-WHAT,13

In [5]:
question_id = [i for i in df['id']]
test_questions = [i['string'] for i in df['question_text']]
test_query = [i['sparql'] for i in df['query']]
test_df = pd.DataFrame({'id': question_id, 'question': test_questions, 'query': test_query})
test_df.to_csv('/Users/sherrypan/GitHub/QAoverSKGs/data/test_questions.csv', index=False)